.NormalPlayerContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 150;
  background: #f2f3f4;

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    filter: blur(20px);
    &.layer {
      background: #2e3030;
      opacity: 0.3;
      filter: none;
    }
  }

  &.normal-enter,
  &.normal-exit-done {
    .top {
      transform: translate3d(0, -100px, 0);
    }
    .bottom {
      transform: translate3d(0, 100px, 0);
    }
  }

  .top {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.1);
    padding-bottom: 5px;
    width: 100%;
    height: 8%;
    padding-bottom: 5px;
    width: 100%;
    height: 8%;
    .back {
      margin-left: 5px;
      z-index: 50;
      .iconfont {
        display: block;
        padding: 9px;
        font-size: 24px;
        color: #2e3030;
        font-weight: bold;
        transform: rotate(-90deg);
      }
    }

    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
    .title {
      line-height: 25px;
      font-size: 16px;
      color: #2e3030;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .subtitle {
      line-height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .middle {
    position: fixed;
    width: 100%;
    top: 8%;
    bottom: 170px;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    .fade-enter {
      opacity: 0;
    }
    .fade-enter-active {
      opacity: 1;
      transition: all 0.4s;
    }
    .fade-enter-done {
      transition: none;
    }
    .fade-exit-active {
      opacity: 0;
    }
    .fade-exit-done {
      opacity: 0;
    }
    .cdWrapper {
      margin: auto;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      .needle {
        position: absolute;
        top: -6.67vw;
        left: 48vw;
        width: 25vw;
        height: 40vw;
        z-index: 100;
        background-image: url("./needle.png");
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        transform-origin: 4.5vw 4.5vw;
        transition: all 0.3s;
        transform: rotate(0);
        &.pause {
          transform: rotate(-30deg);
        }
      }

      .cd {
        top: 16%;
        position: absolute;
        width: 70%;
        height: 70vw;
        border: 4px solid rgba(228, 228, 228, 0.1);
        border-radius: 50%;
        background-image: url("./disc.png");
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        .image {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 68%;
          height: 68%;
          margin: auto;
          border-radius: 50%;
        }
        .play {
          animation: rotate 20s linear infinite;
          &.pause {
            animation-play-state: paused;
          }
        }
      }

      .playing_lyric {
        position: absolute;
        margin: auto;
        width: 80%;
        top: 95vw;
        font-size: 14px;
        line-height: 20px;
        white-space: normal;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .LyricContainer{
      position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  /* 遮罩 会有模糊效果，看个人喜欢*/
  /* mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,hsla(0,0%,100%,0)),color-stop(10%,hsla(0,0%,100%,.6)),color-stop(25%,#fff),color-stop(75%,#fff),color-stop(85%,hsla(0,0%,100%,.6)),to(hsla(0,0%,100%,0)));
    mask-image: linear-gradient(linear,left top,left bottom,color-stop(0,hsla(0,0%,100%,0)),color-stop(10%,hsla(0,0%,100%,.6)),color-stop(25%,#fff),color-stop(75%,#fff),color-stop(85%,hsla(0,0%,100%,.6)),to(hsla(0,0%,100%,0))); */
   
      .LyricWrapper{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    p {
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);
    white-space: normal;
    font-size: 16px;
    &.current {
      color: #fff;
    }
    &.pure{
      position: relative;
      top: 30vh;
    }
  }
      }
  }

  }

  .Bottom{
    position: absolute;
  bottom: 50px;
  width: 100%;
  .list{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-around;
    overflow: hidden;
    >span:first-of-type{
      display: block;
      flex: 0 0 auto;
      padding: 5px 0;
      color: #bba8a8;
      font-size: 14px;
      vertical-align: middle;
    }
    .list-item{
      flex: 0 0 auto;
      font-size: 14px;
      padding: 5px 5px;
      border-radius: 10px;
      color: #bba8a8;
      &.selected{
        color:#d44439;
        border: 1px solid  #d44439;
        opacity: 0.8;
      }
    }
  }
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
