.rank-container {
  position: fixed;
  top: 88px;
  left: 0;
  width: 100%;
  bottom: 0;
  &.paly {
    bottom: 80px;
  }
  .offical,
  .global {
    margin: 10px 5px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 13px;
  }

  .list {
    margin-top: 10px;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
